body {
    font-family: Arial, sans-serif;

    background-image: url(layered-waves-haikei.svg);
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center; 
    background-attachment: fixed; /* Fix the background in place */
}


.head1{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    color: #b9d7ea;
    margin-bottom: 20px;
}
 

table {
  background-color: white;
  direction: rtl;
  margin: 0 auto;
  width: 70%;
  display:table;
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  
}

th {
  text-align: center;
  background-color: #f0f0f0;
}
.requestTable th{
  background-color: #2B6BFF;
}
.offerTable th{
  background-color: #6efaff;
}

#addRowBtn {
  margin-top: 20px;
}

.buttonaddcontainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  
}


.buttonadd {
  background-color: #b9d7ea;
  border-radius: 7px;
  border-style: none;
  box-sizing: border-box;
  color: #222;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 200px;
  margin-left: 20px;
}

.buttonadd:hover,
.buttonadd:focus {
  opacity: .75;
}

.buttonswitchcontainer{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width:70%;
    margin: 0 auto;
}
.buttonswitch{
    font-size: large;
    font-weight: 600;
    font-weight: 600;
    width:100%;
    border: #222 2px solid;
    border-bottom:#222 1px solid;
    padding:10px;
    cursor: pointer;
}
.buttonswitch:hover,
.buttonswitch:focus {
  opacity: .75;
}

#showR{
    background-color: #2B6BFF;
    border-radius:10px 0  0 0 ;

}
#showO{
    background-color: #6efaff;
    border-radius:0 10px  0 0 ;

}

.hide{
  display: none;
}