table {
  width: 100%;
  border-collapse: collapse;
}


th, td {
  border: 1px solid black;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f0f0f0;
}

#addRowBtn {
  margin-top: 20px;
}



.error {
  border: 2px solid red; /* Highlight input with red border */
}

.error-message {
  color: red;
  display: none;
}


body {
  font-family: Arial, sans-serif;

  background-image: url(layered-waves-haikei.svg);
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center; 
  background-attachment: fixed; /* Fix the background in place */
}

  /* Style for the form box */
  .form_box {
    width: 1000px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    text-align: center;
    
  }
  
  /* Style for the h1 header */
  /* .header1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #769FCD;
  } */
  
  /* Style for the labels and inputs */
  .label_box, .input_box {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    font-size: 16px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  #info {
    resize: none; /* Disable the resize handle */
    outline: none; /* Remove the focus outline */
    display: block;
    width: 100%;
    margin-bottom: 10px;
    font-size: 16px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}
  
  /* Style for the upload button */
  .submit_input {
    display: block;
    width: 100%;
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #B9D7EA;
    color: black;
    cursor: pointer;
  }
  
  /* Style for the upload button on hover */
  .submit_input:hover {
    background-color: #769FCD;
    color: white;
  }
  

  .pic_preview{
    margin: 32px 16px;
    text-align: center;
    justify-content: center;
  }

  #image-preview{
    margin: 0 auto;
  }
  /* Media query for smaller screens (e.g., mobile devices) */
  @media (max-width: 600px) {
    .form_box {
      max-width: 90%;
      margin: 20px auto;
      padding: 10px;
      background-size: auto; /* Adjust the background size for smaller screens */
    }
  }
  

  .rotating-circle {
    width: 50px;
    height: 50px;
    border: 5px solid #ccc;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: rotate 1s linear infinite;
    display: none; 
    margin: 20px auto; 
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

