* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;

    background-image: url(layered-waves-haikei.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    /* Fix the background in place */
}


.container_full {
    width: 100%;
}

.container_center {
    max-width: 1800px;
    margin: 0 auto;
    text-align: center;
}


header {
    display: flex;
    padding: 8px;
    height: 80px;

}

header .container_center {
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



header a {
    text-decoration: none;
    font-size: 28px;
    color: #444444;
    color: white;
    padding: 0 48px;
}

header a:hover {
    text-decoration: underline;
}

.sector1 {
    margin-bottom: 24px;
}

.logo1 {
    position: sticky;
    display: flex;
    width: 100px;
}

.head1 {
    direction: rtl;
    font-size: 64px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    color: #b9d7ea;
    margin-bottom: 20px;
}

.add {
    direction: rtl;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background: transparent;
    border: 1px white solid;
    border-radius: 8px;
    padding: 8px;
    color: #b9d7ea;
    cursor: pointer;

}

#boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.box {
    min-width: 30%;
    max-width: 45%;
    text-align: center;
    margin: 12px 0;
    cursor: pointer;
}

.box img {
    max-width: 100px;
    max-height: 300px;
    transition: transform 0.3s;
    box-shadow: 1px 2px 15px 5px #4c6778;
}

.box:focus img {
    max-width: 300px;
    transform: scale(1.2);
}


 /* Styling for the modal */
 .modal {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: auto;
  }

  .modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 32%;
    min-height: auto;
    max-width: 80%;
    max-height: auto;
    margin: 0 auto;
  }

  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: white;
  }

  .modal-image-container {
    min-width: 64%;
    min-height: auto;
    max-width: 100%;
    max-height: auto;
    display: flex;
  }

  #modalImage {
    
    width: 100%;
    max-height: 80vh;
    border: 1px solid #ccc; /* Add a border around the image content */
    display: block;
    margin: 0 auto;
  }

  #modal-text {
    direction: rtl;
    padding: 20px;
    background: #fff;
    flex: 1; /* Take up the remaining space */
  }
  #modal-text h4{
  }